
label {
  margin-top: 15px;
  font-weight: 400;
}

.applynow-btn{
  padding: 15px 60px;
  background-image: linear-gradient(90deg, #3700B3, #6200EE);
  margin-bottom: 100px;
}

.heading-details{
	margin-top: 150px;

}

.heading{
	font-size: 27px;
  font-weight: 400;
  margin-bottom: 5px;
}
