/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
html { font-size: 62.5%; }

:root {
	/*Colors*/
  --main-color-text: #373737;
  --subtitle-color: #828282;
  --heading-color: #696969;
  /* --block-color: #F9F9FF; */
  --block-color: #F8F8FF;
  --line-color: #C4C4C4;
  --main-color: #6200EE;
  --navbar-border-color: #697C9E;
  --white-color: #ffffff;
  --footer-color: #2D2D2D;
  --popup-field-color: rgba(196,196,196,0.2);

  /*Font*/

  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;
  --smaller-size: 1.4rem;
  --big-number-size: 8.6rem;
  --size-32: 3.2rem;
  --size-28: 2.8rem;
  --size-40: 4.0rem;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --black-bold: 900;
  --italic: italic;

}

h1 {
  font-size: 5.654rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 51.999rem;
}

h5 {
}


body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: var(--main-color-text);
}



/*======= Index Page========*/

.nav-item {
  font-size: 2.5rem;
  font-weight: 500;
}
.learnMore_email{
  margin-top:36px;
}
.learnMore_phoneNumber{
  margin-top:82px;
}

]

@media only screen and (min-width: 600px) {


  .send{

    margin-left: 10px;
  }

  .mobile_index_image{
    display:none;
    padding-right:0;
    height:500px;
  }

  .img_tree{
    height: 500px;
  }



}

@media only screen and (max-width: 768px) {

  .contact_us_btn {
    margin-left: 25px;
  }

  .learnMore_email{
    margin-bottom: 50px;
  }
  .send{

    margin-left: 0px;
  }

  .mobile_index_image{
    display:none;
    padding-right:0;
    height:500px;
  }

  .img_tree{
    height: 500px;
  }




}

@media only screen and (max-width: 600px) {
  .send{
    margin-top: 10px;

  }
  .phone{
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .computer{
    padding-bottom: 20px;
  }
  .learnMore_phoneNumber{
    margin-left: 40px;
  }
  .learnMore_email{
    margin-left: 40px;
    margin-bottom: 100px;
  }

  .index .form-container{
    height: 700px;
  }
  .index_image{
    padding-right:0;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 100px;


  }


  .mobile_index_image{
    padding-right:0;x`
    height: 250px;
    margin-top: 0px;
    padding-top: 70px
  }


  .img_tree{
    height: 250px;
    padding-right: 20px;
  }

  .contact_us_btn {
    margin-top: 0px;
  }

  .radio-question{
    margin-bottom: 25px;
  }

}

@media only screen and (min-width: 1024px) {

  .send{
    margin-top:10px;
  }
  .index .form-container{
    padding: 46px 78px;
  }
  .index_image{

  }
  .img_tree{
    height: 500px;
  }

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1366px) {

  .send{
    margin-top: 0px;
  }
  .phone{
    padding-left: 80px;
  }
  .tablet{
    padding-right: 80px;
  }
  .tv{
    padding-left: 80px;
  }
  .wifi{

  }
  .smarthome{
    padding-right: 80px;
  }

}


/*
.phone{
  padding-left: 80px;
}
.tablet{
  padding-right: 80px;
}
.tv{
  padding-left: 80px;
}
.wifi{

}
.smarthome{
  padding-right: 80px;
}
*/

/*Navbar*/
.nav-container{
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 6%;
  margin-right: 80px;
}
@media only screen and (max-width: 900px) {
  .nav-container{
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 6%;
    margin-right: 0;
  }
}
.navbar{
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid transparent;
	margin-bottom: 0px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

}
.navbar-default{
	background-color: #ffffff;
	/* border-color: var(--navbar-border-color); */
	background-image: -webkit-linear-gradient(top,#fff 0,#ffffff 100%);
  background-image: -o-linear-gradient(top,#fff 0,#ffffff 100%);
  background-repeat: repeat-x;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  /* box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075); */
  box-shadow: 0 2px 4px 0 rgba(46,62,72,.12), 0 0 2px 0 rgba(46,62,72,.12);
}
.logo{
  font-size: 4.0rem;
  font-weight: var(--medium);
  color: var(--main-color);
}


@media only screen and (max-width: 1024px) {
  .logo{

    margin-left: 230%;
  }
}
@media only screen and (max-width: 768px) {
  .logo{

    margin-left: 150%;
  }
}

@media only screen and (max-width: 600px) {
  .logo{

    margin-left: 0%;
  }
}

.slogan{
  font-size: var(--h1);
  font-weight: var(--light);
}
.slogan-subtitle{
  font-size: var(--h3);
  font-weight: var(--regular);
  line-height: 40px;
	padding-right: 0;
  padding-left: 0;
/*	padding: 0 85px 0 0;
	margin-top: 15px;*/
}
.block-color {
  background-color: var(--block-color);
}
.first-block{
  margin-top: 119px;
  margin-bottom: 31px;
}
.block-details{
	margin-top: 80px;
  margin-bottom: 100px;
}
.block-heading{
	font-size: var(--h2);
	color: var(--heading-color);
  font-weight: var(--bold);
}
@media only screen and (max-width: 1000px) {
  .block-heading{
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .block-heading{
    margin-top: 0px;
  }
}

.block-link{
  font-size: 2.0rem;
  color: var(--main-color);
}

.block-link:hover {
  color: var(--main-color);
  font-weight: var(--semi-bold);
}

.paragraph-link{
  color: var(--main-color);
}

.paragraph-link:hover{
  color: var(--main-color);
  opacity: 0.9;
  text-decoration: underline;
}

.people-image{
  width: 230px;
  height: 230px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ming-block{
  float: right;
  text-align: center;
}

.device-image{
  height: 90px;
}

.block-image{
	width: 130px;
  height: 130px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.block-subheading{
	font-size: var(--h3);
  font-weight: var(--regular);
  margin-bottom: 5px;
}

.apply .block-subheading{
	font-size: var(--h3);
  font-weight: var(--light);
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {

  .index-subheading .block-subheading{
    margin-top: 60px
  }

}


.block-paragraph {
  margin-bottom: 3%;
  font-size: var(--h4);
}
@media only screen and (max-width: 600px) {
  .block-paragraph {
    margin-bottom: 12%;

  }

}

.heading-border {
  display: block;
  width: 125px;
  height: 3px;
  background: var(--line-color);
  margin: 5px auto 42px;
}

.icon-text{
	margin-top: 8px;
  color: var(--main-color-text);
  font-size: var(--h4);
  font-weight: var(--light);
}
.image-footer{
  font-weight: var(--regular);
  font-size: var(--h5);
  padding: 5px 15px;
  text-align: center;
}
.question-links{
  margin-top:75px;
  font-size: var(--h4);
  color: var(--main-color);
}
.question-links:focus, .question-links:hover {
    color: var(--main-color);
    opacity: 0.9;
    text-decoration: underline;
}
.icon-text-2{
  font-size: var(--h3);
  font-weight: var(--regular);
  margin-top: 15px;
}
.icon-text-sub{
  font-size: var(--h4);
  font-weight: var(--light);
  padding: 0 60px;
  margin-top: 7px;
}

@media only screen and (max-width: 768px) {

.icon-text-sub {
  margin-top: 20px;
  margin-bottom: 100px;
}
.index .block-subheading{

  margin-top: 50px;
}

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 2.0rem;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.round {
  border-radius: 27px;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: linear-gradient(var(--main-color), var(--main-color)), linear-gradient(90deg, #3700B3, rgba(255, 255, 255, 0));
    color: #ffffff;
    /* filter: drop-shadow(0px 6px 20px rgba(115, 37, 129, 0.32)); */
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: var(--main-color);
    opacity: 0.9;
}
.btn-primary:active, .btn-primary.active {
    background: var(--main-color);
    box-shadow: none;
}
.btn-primary:active:focus{
  color: #fff;
  background-color: #5400D8;
  border-color: #5400D8;
}

.btn-secondary {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--white-color);
  /* filter: drop-shadow(0px 6px 20px rgba(115, 37, 129, 0.32)); */
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-primary {
  border: 2px solid var(--main-color);
  opacity: 0.9;
}
.btn-secondary:active, .btn-secondary.active {
  border: 2px solid var(--main-color);
  box-shadow: none;
}
.btn-secondary:active:focus{
  color: #fff;
  /* background-color: #5400D8; */
  border-color: #5400D8;
}
button, a{
  color: #ffffff;
}

button a:focus, a:hover{
  color: #ffffff;
  text-decoration: none;
}

.tabs{
  font-size: var(--h3);
  font-weight: var(--regular);
}
.hiw-img{
  max-width: 245px;
  max-height: 245px;
}
.values-subheading{
  font-size: var(--h3);
  font-weight: var(--regular);
  margin-bottom: 9px;
}
.values-desc{
  font-size: var(--h4);
  line-height: 29px;
  font-weight: var(--light);
}
.values-firstdivider{
  display: block;
  width: 100%;
  height: 1px;
  background: var(--line-color);
  margin: 60px auto 30px;
}
.values-divider{
  display: block;
  width: 100%;
  height: 1px;
  background: var(--line-color);
  margin: 100px auto 30px;
}

@media only screen and (max-width: 600px) {

  .values-firstdivider {

    margin: 60px auto 80px;

  }
  .values-divider{

   margin: 100px auto 100px;

  }

}



.review-details{
  text-align: left;
}
.review-img-Christopher{
  width: 350px;
  height: 466px;
  margin-left: 100px;

}

.review-img-EJ{
  width: 350px;
  height: 466px;
  margin-left: 100px;

}

@media only screen and (max-width: 1025px) {

  .review-img-Christopher{

    height: 466px;
    margin-left: 0px;

  }

  .review-img-EJ{

    height: 466px;
    margin-left: 0px;
  }

}

.review-textR{
  font-size: var(--h4);
  padding-left: 8%;
  padding-right: 20%;
}
.review-textL{
  font-size: var(--h4);
  padding-left: 7%;
  padding-right: 12%;
  margin-top: 20px;
}
.name-quote{
  font-style: var(--italic);
}
.plus{
  font-size: 10.0rem;
  font-weight: var(--regular);
  opacity: 0.12;

}
.sub-textP{
  font-size: var(--h4);
  font-weight: var(--regular);
  /* color: var(--heading-color); */
  margin-bottom: 15px;
}
.sub-textP2{
  font-size: var(--h3);
  font-weight: var(--light);
  /* color: var(--heading-color); */
  margin-bottom: 15px;
}
.big-numb{
  font-size: var(--big-number-size);
  font-weight: var(--regular);
  color: var(--heading-color);
}
.big-numb-sub{
  font-size: 3.2rem;
  font-weight: var(--regular);
}
.sub-textC{
  margin-bottom: 40px;
  font-size: var(--h4);
  font-weight: var(--regular);
}
.contact-text{
  font-size: var(--h3);
  /* font-weight: var(--regular); */
  color: var(--heading-color);
  float: left;
  margin-left: 16px;
}
.contact-number{
  text-align: left;
  font-size: var(--size-40);
  color: var(--heading-color);
}
.contact-imgIcon{
  float: left;
  margin-top: 5px;
}
.bgImg{
  background-image: url(./img/learnMoreBg.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
}
.divider{
  display: block;
  width: 66%;
  height: 1px;
  background: var(--line-color);
  margin: 22px auto 22px;
}
.footer{
  background-color: var(--footer-color);
  color: var(--white-color);
  font-size: var(--h4);
  padding-bottom: 65px;
  padding-top: 65px;
}
.footer-heading{
  font-weight: var(--bold);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer-links{
  font-weight: var(--light);
  line-height: 2.0;
}
.footer-divider{
  display: block;
  /*width: 66%;*/
  height: 1px;
  background: var(--line-color);
  margin: 3% auto 3%;
}
.footer-or{
  width: 25%;
  height: 16px;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 25px auto 20px;
}
.footer-orText{
  font-size: 2.5rem;
  background-color: var(--block-color);
  padding: 0 10px;
}

/* Popup*/
.modal-header{
  border-bottom: none;
}
.modal-body{
  padding: 0px 78px;
  text-align: left;
}

.modal-body .radio-inline{
  font-size: var(--h4);
}

.modal-title{
  font-size: var(--h3);
  font-weight: var(--regular);
  margin-top: 65px;
  text-align: center;
  padding: 0 100px;
}
@media only screen and (max-width: 600px) {

  .modal-body {
    padding: 0px 20px;
    text-align: center;
  }

  .modal-title{
    padding: 0px;
  }

}

.modal-thankYouTitle{
  font-size: var(--h3);
  font-weight: var(--regular);
  margin-top: 65px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 100px;
}
#thankYou1{
  padding: 0 0px;
}
.modal-subTitle{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-top: 16px;
  text-align: center;
}
.form-control{
  background-color: var(--popup-field-color);
  border: 1px solid #ffffff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
  font-size: var(--h5);
}
.modal-footer{
  text-align: center;
  border-top: none;
  margin-top: 20px;
  margin-bottom: 65px;
}
.modal-text{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-bottom: 17px;
}

/* Contact Form */
@media only screen and (max-width: 600px) {
  .contact-image {
    margin-top: 25px;
  }
}
.form-container{
  display: block;
  background-color: #ffffff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.07);
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 46px 78px;
  height: 640px;
}

.form-title{
  font-size: var(--h3);
  font-weight: var(--regular);
  text-align: center;
}
.form-subTitle{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-top: 16px;
  margin-bottom: 25px;
}

.app-ques-subtitle{
  font-size: var(--smaller-size);
  font-weight: var(--regular);
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-text{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-bottom: 24px;
  line-height: 30px;
  text-align: left;
}

.headingPage-margin{
  margin-top: 150px;
}
.btn-submit{
  text-align: center;
  border-top: none;
  margin-top: 36px;
  margin-bottom: 65px;
}
textarea.form-control {
  max-height: 115px;
  min-height: 115px;
  max-width: 100%;
  min-width: 100%;
}

/* ======== Pricing Page ======== */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
}
.form-container{
  display: block;
  background-color: #ffffff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.07);
  text-align: center;
  padding: 46px 78px;

}

.credits-price{
   margin-bottom: 100px;
   color: #696969;
}

.subscription-btn{

  position: relative;
   margin-top: 32px;
}
.credits-btn{
  bottom: -55px;
  position: relative;
  margin-top: 29px;
}
.onetime-btn{
  bottom: -30px;
  position: relative;
  /* margin-top:35px; */
}

.per-credit{
  font-size: 1.6rem;
  font-weight: 300;
}

.credit-count {
  font-size: 4.5rem;
  font-weight: 300;

}

.discount {
  color: #373737;
  font-size: 2.0rem;
  font-weight:600;
}

.check-mark-row {

  padding: 20px 0px;

}

.pricing .btn{
  padding: 16px 60px;
  font-size: var(--h4);

}

.pricing .btn .schedule-btn{
  padding: 10px px;
  font-size: var(--h4);
}



.dollar-amount{
  font-size: var(--h2);
  color: var(--heading-color);
  font-weight: 300;
  display: inline;
  padding-top: 20px;
}

.per-year{
  font-size: var(--h3);
  color: var(--heading-color);
  font-weight: var(--light);
  display: inline;
  padding-top: 20px;
}

.pricing .learn-more .btn-primary{
  background: linear-gradient(white, white), linear-gradient(90deg, white, rgba(255, 255, 255, 0));
  color: #7119EF;
  border: 3px solid;
}

.pricing .heading-border{
  margin-bottom: 90px;
}

.green-check-mark{
  width: 45px;
  height: auto;
}


.membership-details{
  font-size: 2.2rem;
  font-weight: 300;
}

.pricing .round{
  border-radius: 35px;
}

.discount-text {
  font-size: var(--h1);
	color: var(--heading-color);
  font-weight: var(--regualr);
  padding-top:50px;
}

.discount-subtext{
  font-size: var(--h3);
  color: var(--heading-color);
  font-weight: var(--light);
}

.pricing-tree {
  width: 450px;
  height: auto;
}


@media only screen and (max-width: 600px) {

  .pricing-tree {
    width: 300px;
    height: auto;
  }
  .discount-text{
    padding-top: 50px;
  }
  .pricing-container {
    margin-left:15px;

  }

  .subscript-plan-detail{
    margin-left: 50px;
  }

  .box-size{
    height: 800px;
    margin-bottom:  50px;
  }

  .left-box-size{
    height: 800px;
    margin-bottom:  50px;

  }

  .center-box-size{
    height: 720px;
    margin-bottom:  50px;

  }

  .right-box-size{
    height: 700px;
    margin-bottom:  50px;
  }
  .vertical-line{
    background-color: #DDDDDD;
    margin-top:8px;
    margin-bottom: 8px;
    width: 25px;
    height: 1px;
  }


}

@media only screen and (max-width: 600px){
  .form-container{
    padding: 46px 36px;

  }

}
.about-pricing-row{
  padding-top: 0px;
  padding-bottom: 100px;
}
.card-heading{
  font-size: var(--h3);
  font-weight: var(--medium);
  margin-top: 26px;
  margin-bottom: 19px;
}
.subscript-numb{
  font-size: 4.5rem;
  font-weight: var(--light);
  margin-bottom: 20px;
}
.subscript-plan-detail{
  margin-left: 35px;
}

.pricing-numb{
  font-size: var(--h1);
  font-weight: var(--light);
}
.pricing-subNumb{
  font-size: var(--h4);
  font-weight: var(--regualr);
}
.pricing-smallTxt{
  font-size: var(--h4);
  font-weight: var(--light);
}
.plus-pricing{
  font-size: 3.6rem;
  font-weight: var(--regular);
  opacity: 0.12;
}
.card-text{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-top: 50px;
}
.coming-soon{
  font-size: var(--smaller-size);
  font-weight: var(--regular);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.bullet-text{
  font-size: var(--h4);
  font-weight: var(--regular);
  color: var(--heading-color);
  float: left;
  margin-left: 10px;
}


.box-size{
  height: 605px;
  margin-bottom: 150px;

}

.heading-margin{
    margin-top: 80px;


}




@media (max-width: 600px) {

  .join-now{
    margin-top: 50px;
  }

  .credits-btn{
    margin-bottom: 150px;
  }

}


@media (min-width: 600px) {


  .pricing-container {
    margin-left:15px;
  }
  .box-size{
    height: 805px;
  }
  .left-box-size{
    height: 800px;
    margin-bottom:  150px;
  }
  .right-box-size{
    height: 700px;
    margin-bottom:  150px;

  }

  .horizontal-line-one{
    margin-top: 10px;
    margin-left: -15%;
    position: absolute;
    height: 80px;
    width: 3px;
    background-color: #DDDDDD;
  }
  .horizontal-line-two{
    margin-top: 10px;
    margin-left: -5%;
    position: absolute;
    height: 80px;
    width: 3px;
    background-color: #DDDDDD ;
  }
  .subscript-plan-detail{
    margin-left: 50px;
  }

  .subscript-plan-detail{
    margin-left: 7%;
  }


 }

@media (min-width: 768px) {

  .center-box-size{
    height: 700px;
  }
  .horizontal-line-one{
    margin-left: -11.5%;
    height: 125px;

  }
  .horizontal-line-two{
    height: 125px;

  }

  .credit-row{
    margin-top: 70px;
  }



}

@media (min-width: 769px) {

  .pricing-container {
    margin-left:15px;
  }

  .box-size{
    height: 755px;
  }

  .left-box-size{
    height: 700px;

  }
  .right-box-size{
    height: 700px;

  }

  .left-box-size{

    height: 0px;
    width: 473.33px;

  }

}

@media (min-width: 1024px) {
  .contact_us_btn {
    margin-top: 100px;
  }

  .box-size {

    width: 473.33px;

  }
  .form-container{
    padding: 46px 10px;
  }

  .subscript-plan-detail {
    margin-left: 35px;
  }

  .plus-pricing{
    margin-left:-6%;
  }

  .pricing-margin{
    margin-left: -5%;
  }

  .credits-btn{
    bottom: 0;
    padding-top: 162px;
  }

  .credits-price{
    margin-bottom: 120px;
  }

  .subscription-btn{
    margin-top: 50px;
  }

  .horizontal-line-one{
    height: 127px;
  }
  .horizontal-line-two{
    margin-left: -5%;
    height: 127px;
  }



  .center-box {
    margin-left: 17%;
  }

  .right-box {
    margin-left: 0%;
    margin-top: 0%;
  }



  .left-box-size{

    height: 800px;
    width: 473.33px;

  }


  .center-box-size{

    height: 800px;
    width: 473.33px;

  }


  .right-box-size{

    height: 670px;

  }

  .subscript-plan-detail{
    margin-left: 14%;
  }




 }

 @media (min-width: 1280px) {

   .horizontal-line-one{
     margin-top: 10px;
     margin-left: -16%;
     position: absolute;
     height: 155px;
     width: 3px;
     background-color: #DDDDDD;
   }
   .horizontal-line-two{
     margin-top: 10px;
     margin-left: -7%;
     position: absolute;
     height: 155px;
     width: 3px;
     background-color: #DDDDDD;
   }
   .vertical-line{
     background-color: #DDDDDD;
     margin-top:8px;
     margin-bottom: 8px;
     width: 25px;
     height: 1px;
   }
   .logo{
     margin-left: 0%;
   }
   .form-container{
     padding: 46px 40px;
   }
   .index .form-container{
     padding: 46px 76px;
   }
   .plus-pricing{
     margin-left:0px
   }
   .credits-btn{
     margin-top: 29px;
   }
   .credits-price{
     margin-bottom: 120px;
   }
   .box-size {



   }

   .left-box-size {
     width: 503.33px;
   }

   .center-box-size{
     width: 503.33px;
   }

   .left-box{
     margin-left: 8%;
   }

   .center-box {
     margin-left: 9%;
   }

   .right-box {
     margin-left: 0%;
   }

   .subscript-plan-detail{
     margin-left: 12%;
   }
   .subscription-btn{

     position: relative;
      margin-top: 57px;
   }

   .plus-pricing {
     margin-left: -3%;
   }

   .subscript-plan-detail{
     margin-left: 16%;
   }
   .left-box-size{

     height: 670px;
     width: 473.33px;

   }

   .credits-btn{
     bottom: 0;
     padding-top: 112px;
   }

  }

 @media (min-width: 1366px) {

   .credits-price{
     margin-bottom: 120px;
   }

   .credits-btn{
     margin-top: 32px;
     padding-top: 45px;
   }

   .center-box{
     margin-left: 0%;
   }

   .right-box {
     margin-left: 0%;
   }
   .plus-pricing {
     margin-left: -5%;
   }
   .subscript-plan-detail{
     margin-left: 16%;
   }
   .subscription-btn{
     margin-top: 32px;
   }
   .left-box{
     margin-left: 10.5%;
   }

   .center-box {
     margin-left: 6%;
   }
   .horizontal-line-two{
     margin-left: -4%;
   }

   .onetime-btn .join-now{
     padding-top: 75px;
     bottom: -30px;
     position: relative;
     /* margin-top:35px; */
   }


  }

@media (min-width: 1400px) {

  .horizontal-line-one{
    margin-left: -15%;
  }
  .horizontal-line-two{
    margin-left: -6.3%;
  }

  .center-box {
    margin-left: 0%;
  }

  .right-box {
    margin-left: 0%;
  }

  .subscript-plan-detail{
    margin-left: 17%;
  }
  .plus-pricing {
    margin-left: -5%;
  }
  .credits-price{
    margin-bottom: 120px;
  }
  .credits-btn {
    margin-top: 28px;
  }
  .subscript-plan-detail{
    margin-left: 17%;
  }

  .left-box{
    margin-left: 11.6%;
  }

  .center-box {
    margin-left: 5%;
  }

  .join-now{
    margin-top: 75px;
  }

 }


@media (min-width: 1440px) {

  .horizontal-line-two{
    margin-left: -9%;
  }



  .center-box{
    margin-left: 0%;
  }

  .right-box {
    margin-left: 0%;
  }

  .subscript-plan-detail{
    margin-left: 18%;
  }
  .plus-pricing {
    margin-left: -5%;
  }

  .subscription-btn{
    margin-top: 32px;
  }
  .left-box{
    margin-left: 12.5%;
  }

  .center-box {
    margin-left: 5%;
  }

}

@media (min-width: 1600px) {

  .horizontal-line-one{
    margin-left: -15%;
  }
  .horizontal-line-two{
    margin-left: -4%;
  }


  .left-box-size {
    width: 503.33px;
  }

  .center-box-size{
    width: 503.33px;
  }

  .center-box{
    margin-left: 0%;
  }
  .center-box-size{
    width: 503.33px;
  }

  .left-box{
    margin-left: 16.7%;
  }


  .right-box {
    margin-left: 0%;
  }
  .right-box-size{
    width: 503.33px;
  }
  .subscript-plan-detail{
    margin-left: 22%;
  }
  .subscription-btn{
    margin-top: 30px;
  }

  .credits-price {
    margin-bottom: 120px;
  }
  .credits-btn{
    margin-top: 50px;
  }

  .onetime-btn{
    margin-top: 20px;
  }

  .join-now{
    margin-top: 100px;
  }

}

@media (min-width: 1680px) {

  .horizontal-line-one{
    margin-left: -15%;
  }
  .horizontal-line-two{
    margin-left: -4%;
  }

  .left-box-size {
    margin: 0 0 0 auto;
  }

  .center-box{
    margin-left: 0%;
  }


  .right-box {
    margin-left: 0%;
  }
  .right-box-size {
    margin: 0 auto 0 0;
  }

  .section-margin{
    margin-bottom: 100px;
  }

}



@media (min-width: 1920px) {


  .center-box{
    margin-left: 0%;
  }
  .right-box {
    margin-left: 0%;
    margin-top: 0%;
  }

.btn-bottom{
  bottom: -30px;
  position: relative;
  /* margin-top:35px; */
}
.btn-bottom2{
  position: relative;
   margin-top: 45px;
 }
  .left-box-size {
    margin: 0 0 0 auto;
  }



  .right-box-size {
    margin: 0 auto 0 0;
  }

  .subscript-plan-detail{
    margin-left: 22%;
  }



}




/* ======== Application Page ======== */
.app-text{
  font-size: var(--h4);
  font-weight: var(--regular);
  margin-bottom: 30px;

}
.app-heading{
  margin-bottom: 40px;
}

.plus-sign{
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.plus-sign-row{
  padding-top: 30px;
  padding-bottom: 50px;
}

.apply .question-links{
  font-size: var(--h4);
}

.apply label{
  font-size: var(--h4);
}

.apply .app-ques-subtitle{
  font-size: var(--h5);
  font-weight: var(--regular);
  margin-top: 5px;
  margin-bottom: 10px;
}

/*========= FAQ PAge =============*/
@media only screen and (max-width: 600px) {
  .link-margin{
    margin-bottom: 100px;

  }
}

.faq .subheading{
  font-size: var(--h2);
  font-weight: var(--light);
   letter-spacing: 5px;

}

.faq .block-paragraph{

}

/* ======== Contact Page ======== */
.contact-image {
  width: 100%;
  height: 70%;
}

@media only screen and (max-width: 1024px) {
  .contact-image {
    width: 100%;
    height: 100%;

  }
}
@media only screen and (max-width: 600px) {

  .contact-image {
    margin-top: 25px;
    width: 70%;
    height: 70%;
  }
  .faq_content{
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (min-width: 600px) {

  .faq_content{
    margin-left: 0%;
    margin-bottom: 0%;
  }

}

@media only screen and (min-width: 1200px) {

  .faq_content{
    margin-left: 15%;
    margin-bottom: 7.5%;
  }

}



.contact-heading {
  margin-top: 150px;

}

.sub-heading {
  font-size: var(--h3);
  font-weight: var(--regular);
  margin-bottom: 20px;
}

.form-title {
  padding-bottom: 40px;

}

.contact-content {
  display: block;
  background-color: #ffffff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.07);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 46px 30px;

}

.contact-container {
  margin-bottom: 150px;
}

/* ======== Techie Page ======== */

@media only screen and (max-width: 600px) {

  .techie-footer .image-footer {
    margin-bottom: 50px;
  }

}

.techie .sub-textP  {
  font-size: var(--h4);


}

.techie .block-subheading {
  font-size: var(--h3);
}

.techie .image-footer {
  font-size: var(--h5);
}

.techie .applynow-btn {
  padding: 15px 40px;
  font-size: var(--h4);
}

.techie .question-links {
  font-size: var(--h4);
}

.row-color {
    background-color: var(--block-color);
    padding-bottom: 0px;


}

.ming-quote{
  padding-top: 50px;

}

.easter_egg {
  padding-bottom: 0px;
  display: none;
  opacity: 0;
  position: absolute;
}

.author {
    margin-bottom: 50px;
    font-weight: var(--bold);
    padding: 0px;
}

.applynow-btn{
  padding: 15px 60px;
  background-image: linear-gradient(90deg, #3700B3, #6200EE);
  font-size: var(--h4);
}

.ming{
  font-size: var(--h4);
}



/* ======= Apply Page ========== */

.apply .easter_egg {

}

.app-title {
  font-size: var(--h3);
  font-weight: var(--light);
  margin-bottom: 20px;
  padding-left: 10px;
}

.pop-confirmation{
  font-size: 1.6rem;
  margin-bottom: 200px;
}
