/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

:root {
	/*Colors*/
  --main-color-text: #373737;
  --subtitle-color: #828282;
  --heading-color: #696969;
  --block-color: #F9F9FF;
  --line-color: #B8BBC1;
  --main-color: #6200EE;
  --navbar-border-color: #697C9E;
  --white-color: #ffffff;
  --footer-color: #2D2D2D;
  
  /*Font*/
  --heading-size: 36px;
  --subheading-size: 24px;
  --slogan-size: 48px;
  --slogan-subtitle-size: 20px;
  --underline-size: 16px;
  --smaller-size: 14px;
  --big-number-size: 88px;
  --size-32: 32px;
  --size-28: 28px;
  --size-40: 40px;
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black-bold: 900;
  --italic: italic;
 
}
body{
  font-family: 'Lato', sans-serif;
}
/*Navbar*/
.navbar{
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid transparent;
	margin-bottom: 0px;

}
.navbar-default{
	background-color: #ffffff;
	border-color: var(--navbar-border-color);

	background-image: -webkit-linear-gradient(top,#fff 0,#ffffff 100%); 
  background-image: -o-linear-gradient(top,#fff 0,#ffffff 100%);
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ffffff)); */
  /* background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%); */
  background-repeat: repeat-x;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.logo{
  font-size: 28px;
  font-weight: var(--bold);
  color: var(--main-color);
}
.slogan{
	font-size: var(--slogan-size);
}
.slogan-subtitle{
	font-size: var(--slogan-subtitle-size);
/*	padding: 0 85px 0 0;
	margin-top: 15px;*/
}
.slogan-subtitle-padding{
	padding-right: 0; 
  padding-left: 0; 
}

.block-color {
  background-color: var(--block-color);
}
.first-block{
  margin-top: 81px;
  margin-bottom: 31px;  
}
.block-details{
	margin-top: 80px;
  margin-bottom: 100px;
}
.block-heading{
	font-size: var(--heading-size);
	color: var(--heading-color);
  font-weight: var(--black-bold);
}
.heading-border {
  display: block;
  width: 125px;
  height: 3px;
  background: var(--line-color);
  margin: 5px auto 42px;
}
.block-image{
	width: 156px; 
	height: 150px;
}
.block-subheading{
	font-size: var(--subheading-size);
  font-weight: var(--bold);
  margin-bottom: 5px;
}
.icon-text{
	margin-top: 23px;
  color: var(--navbar-border-color);
}
.image-footer{
  font-weight: var(--regular);
  font-size: var(--smaller-size);
  padding: 5px 15px; 
  text-align: left;
}
.undeline-text{
  margin-top:75px;
  font-size: var(--underline-size);
  color: var(--main-color);
}
.icon-text-2{
  font-size: var(--slogan-subtitle-size);
  font-weight: var(--bold);
  margin-top: 15px;
}
.icon-text-sub{
  font-size: var(--smaller-size);
  padding: 0 60px;
  margin-top: 7px;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-main {
  font-size: var(--slogan-subtitle-size);
  text-transform: uppercase;
  color: var(--white-color);
  letter-spacing: 1px;
  /*line-height: 40px;*/
  /*border: 2px solid rgba(108, 89, 179, 0.75);*/
  border-radius: 40px;
  /*background: linear-gradient(to right, var(--main-color) , var(--white-color));*/
  background: var(--main-color);
  transition: all 0.3s ease 0s;
  /*width: 250px;*/
  height: 64px;
  padding: 0 5%;
}
.tabs{
  font-size: var(--slogan-subtitle-size);
  color: var(--main-color-text);

}
.hiw-img{
  max-width: 245px;
  max-height: 245px;
}
.review-details{
  text-align: left;
}
.review-img{
  width: 450px; 
  height: 340px;
}
.review-textR{
  font-size: var(--underline-size);
  color: var(--main-color-text);
  padding-left: 15%;
  margin-top: 20px;
}
.review-textL{
  font-size: var(--underline-size);
  color: var(--main-color-text);
  margin-top: 20px;
  padding-left: 8%;
  padding-right: 22%;
}
.name-quote{
  font-style: var(--italic);
}
.quotesR{
  padding-left: 10%;
}
.quotesL{
  padding-left: 2%;
}
.plus{
  font-size: 100px;
  font-weight: var(--bold);
  opacity: 0.12;
}
.sub-textP{
  font-size: var(--size-32);
  color: var(--heading-color);
  margin-bottom: 15px;
}
.big-numb{
  font-size: var(--big-number-size); 
  font-weight: var(--bold);
  color: var(--heading-color);
}
.sub-textC{
  margin-bottom: 40px;
  font-size: var(--slogan-subtitle-size);
}
.contact-text{
  text-align: left;
  font-size: var(--size-28);
  color: var(--heading-color);
}
.contact-number{
  text-align: left;
  font-size: var(--size-40);
  color: var(--heading-color);
}
.divider{
  display: block;
  width: 66%;
  height: 1px;
  background: var(--line-color);
  margin: 22px auto 22px;  
}
.footer{
  background-color: var(--footer-color);
  color: var(--white-color);
  font-size: var(--slogan-subtitle-size);
  padding-bottom: 65px;
  padding-top: 65px;
}
.footer-heading{
  font-weight: var(--bold);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer-links{
  font-weight: var(--light);
  line-height: 2.0;
}
.footer-divider{
  display: block;
  /*width: 66%;*/
  height: 1px;
  background: var(--line-color);
  margin: 3% auto 3%;  
}