.image-footer {
  text-align: center;
}

.applynow-row{
  margin-top: 100px;
}

.applynow-btn{
  padding: 15px 60px;
  background-image: linear-gradient(90deg, #3700B3, #6200EE);
}

.wantmore-row{
  margin-top: 20px;
  margin-bottom: 50px;
}


.block-title {
  margin-top: 150px;
}

.block-content {
  margin-top: 75px;
}

.block-paragraph {

  line-height: 30px;


}

.block-name {
  margin-top: 20px;
}

.stilhave-row {
  margin-top: 30px;
  margin-bottom: 500px;
}
