.image-footer {
  text-align: center;
}

.applynow-row{
  margin-top: 100px;
}



.block-title {
  margin-top: 110px;
  margin-bottom: 30px;


}

.block-paragraph {
  line-height: 30px;
}

.block-name {
  margin-top: 20px;
}

.heading-details{
	margin-top: 80px;
  margin-bottom: 40px;
}

.stilhave-row {
  margin-top: 30px;
}

.wantmore-row {
  margin-top: 25px;
  margin-bottom: 76px;


}

.auto-scroll-margin {
  margin-bottom: 64px;
}
